<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel Główny</title>
</head>
<body>
    <h1>📈 System Inwestycyjny</h1>

    <ul>
        <li><a href="{{ url_for('companies_bp.companies') }}">📋 Lista firm (Company)</a></li>
        <li><a href="{{ url_for('investors_bp.investors') }}">📊 Lista inwestorów (Investor)</a></li>
        <li><a href="{{ url_for('stock_prices_bp.stock_prices') }}">📈 Notowania giełdowe (Stock Price)</a></li>
        <li><a href="{{ url_for('portfolio_bp.portfolio') }}">📊 Portfele inwestorów</a></li>
        <li><a href="{{ url_for('transactions_bp.transaction') }}">💼 Wykonaj transakcję</a></li>
        <li><a href="{{ url_for('companies_bp.add_company') }}">➕ Dodaj firmę</a></li>
        <li><a href="{{ url_for('stock_prices_bp.import_stock_prices') }}">📥 Importuj notowania giełdowe</a></li>
        <li><a href="{{ url_for('companies_bp.import_companies') }}">➕ Wczytaj firmy z csv</a></li>
        <li><a href="{{ url_for('stock_prices_bp.archive_stock_prices') }}">🗃️ Archiwizuj dane giełdowe</a></li>
    </ul>
</body>
</html>